
<div class="container-fluid">
	<div style="padding-left: 15px; padding-right: 15px;" class="row">
		{{#each products}}
		<div style=" padding: 25px;" class="col-sm-6">
			<div style=" display: flex; align-items: center; height: 220px;  box-shadow: 0px 0px 14px 2px #d2d2d2; border-radius: 7px;"
				class="row">
				<div class="col-xs-4">
					<img style="width:160px ; height: 160px;" src="/productImage/{{this.product._id}}1.jpg" alt="">
				</div>
				<div class="col-xs-8">
					<div style="width: 22rem;">
						<ul>
							<li style="list-style-type: none;" id="{{this.product._id}}" value="{{this.product.Price}}"></li>

							<li class="list-group-item">Product: <span style="color: #949393;"> {{this.product.Name}}
								</span></li>
							<li class="list-group-item">Quantity: <span
									style="color: #949393;">{{this.product.Quantity}}</span><span style="color: #ff8989	"> x
								</span><span style="color: #949393;">{{quantity}}</span></li>
							<li class="list-group-item">Price: <span
									style="color: #949393;">{{this.product.Price}}</span><span style="color: #ff8989"> x
								</span><span style="color: #949393;">{{quantity}}</span></li>
							{{#if this.product.Brand}}
							<li class="list-group-item">Brand: <span
									style="color: #949393;">{{this.product.Brand}}</span></li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</div>


		
		{{/each}}
	</div>
</div>